<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwm.androidreview">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 电话 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- 短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!-- sd卡操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- lable 表示Activity的标题 -->
        <activity
            android:name=".activitydemo.Test01Activity"
            android:label="OtherActivity" />
        <activity
            android:name=".activitydemo.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activitydemo.Test02Activity" />

        <!-- ===============================广播接收者 测试-================================================================ -->
        <!-- 广播接收者 测试 -->
        <activity
            android:name=".receiverdemo.ReceiverActivity"
            android:label="广播接收者测试" />

        <receiver android:name=".receiverdemo.TestReceiver">
            <intent-filter android:priority="1">
                <action android:name="com.qwm.test" />
                <action android:name="com.qwm.testxm" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiverdemo.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="com.qwm.testxm" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiverdemo.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!-- ===============================内容提供者 测试-================================================================ -->
        <provider
            android:name=".providerdemo.PersonProvider"
            android:authorities="com.qwm.person" />

        <activity
            android:name=".providerdemo.ProviderActivity"
            android:label="内容提供者测试" />

        <!-- ===============================Service 测试-================================================================ -->
        <activity
            android:name=".servicedemo.ServiceActivity"
            android:label="Service测试" />

        <service android:name=".servicedemo.MyService" />
        <service android:name=".servicedemo.AIDLService">
            <intent-filter>
                <action android:name="com.qwm.aidl" />
            </intent-filter>
        </service>
        <!-- ===============================Activity和Service 测试-================================================================ -->
        <activity android:name=".activityservicedemo.ActivityServiceActivity" />

        <service
            android:name=".activityservicedemo.MyTestService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".activityservicedemo.MyShareService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".activityservicedemo.MyMessengerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".activityservicedemo.MyInterfaceService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.qwm.servictestinterface" />
            </intent-filter>
        </service>
        <service
            android:name=".activityservicedemo.MyAIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.qwm.servictestaidl" />
            </intent-filter>
        </service>

        <activity
            android:name=".listviewdemo.ListViewActivity"
            android:label="ListViewActivity" />
        <activity
            android:name=".referencedemo.ReferenceActivity"
            android:label="ReferenceActivity" />
        <activity
            android:name=".pictureoomdemo.PictureOOMActivity"
            android:label="PictureOOMActivity" />
        <activity
            android:name=".animodemo.AnimoActivity"
            android:label="AnimoActivity" />
        <activity
            android:name=".animodemo.TweenAnimActivity"
            android:label="TweenAnimActivity" />
        <activity
            android:name=".animodemo.PropertyAnimActivity"
            android:label="PropertyAnimActivity" />
        <activity
            android:name=".animodemo.FrameAnimActivity"
            android:label="FrameAnimActivity" />
        <activity
            android:name=".shapedemo.ShapeDemoActivity"
            android:label="ShapeDemoActivity" />
        <activity
            android:name=".screendemo.ScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ScreenActivity" />
        <activity android:name=".viewdemo.CirclePhotoActivity" />
        <activity android:name=".viewdemo.ViewActivity" />
        <activity android:name=".listviewdemo.ListGridActivity" />
        <activity android:name=".listviewdemo.GridViewActivity" />
        <activity android:name=".filestoragedemo.FileStorageActivity" />

        <provider
            android:name=".filestoragedemo.MySqliteContentProvider"
            android:authorities="com.qwm.storage"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".xmljsondemo.XmlJsonActivity" />
        <activity android:name=".asyncdemo.AsyncActivity" />
        <activity android:name=".eventdemo.EventActivity" />
        <activity android:name=".vollydemo.VolleyActivity" />
        <activity android:name=".fragmentdemo.FragmentDemoActivity" />
        <activity android:name=".listazdemo.ListViewAZDemoctivity" />
        <activity android:name=".viewpagerdemo.ViewpagerActivity"></activity>
    </application>

</manifest>
